extends layout
block content 
    h1 #{title}:  #{book.title}
    p #[strong Summary:] #{book.summary}
    p #[strong ISBN:] #{book.isbn}

    if book_instance

      p #[strong Delete the following instances before attempting to delete this book.]
    
      div(style='margin-left:20px; marging-top:20px')
        h4 Copies
        
        for bookinstance in book_instance
           p #[strong Book Status:] 
             a(href=bookinstance.url) #{bookinstance.status}
           p #[strong Book Imprint:] #{bookinstance.imprint} 
           p #[strong Book Due_Back:] #{bookinstance.due_back}
      hr
    else 
        p Do you really want to delete this Book?
        form(method='POST' action='')
            div.form-group
              input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

            button.btn.btn-primary(type='submit') Delete    
        